<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quora Demo - All Posts</title>
  <link rel="stylesheet" href="/style.css" />  
</head>
<body>
  <h1>Quora Posts</h1>    

  <% for(post of posts) { %>
    <div class="post">
      <h3 class="user">@<%= post.username %></h3>
      <p class="content"><%= post.content %></p>
      <div class="actions">
        <a href="/posts/<%= post.id %>" class="action-link detail-link">See in Detail</a>
        <a href="/posts/<%= post.id %>/edit" class="action-link edit-link">Edit</a>
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE" style="display:inline;">
          <button>Delete</button>
        </form>
      </div>
    </div>
  <% } %>

  <a href="/posts/new" class="btn">+ Create New Post</a>

</body>
</html>